<div>
  <div class="mb-8">
    <app-custom-title
      text="Password Generator"
      [textSizeInPx]="36"
      fontWeight="bold"
    ></app-custom-title>
  </div>
  <div class="bg-zinc-800 rounded-lg shadow-md p-6">
    <app-custom-description
      descriptionText="Generate secure passwords with customizable options. For maximum security, it's recommend to:"
      [additionalListEnabled]="true"
      [additionalListText]="[
        'Use at least 16 characters for sensitive accounts',
        'Include a mix of letters, numbers, and special characters',
        'Use different passwords for each account',
      ]"
    ></app-custom-description>
    <div>
      <div [formGroup]="passwordGenerator" class="relative mb-6">
        <div class="flex flex-col">
          <label class="mb-2"
            >Password Length:
            <span class="ml-2 font-bold text-xl">{{ passwordGenerator.value.length }}</span></label
          >
          <input
            type="range"
            min="4"
            max="64"
            formControlName="length"
            class="w-full border bg-white transition-[color,box-shadow]"
          />
          <!--class="w-full mt-2 mb-4 bg-blue-500 h-2 appearance-none" -->
        </div>
        <div>
          <!-- strength description -->
          <p
            class="text-sm mt-2"
            [class]="getStrengthDescription(passwordGenerator.value.length).color"
          >
            @if (getStrengthDescription(passwordGenerator.value.length)) {
              {{ getStrengthDescription(passwordGenerator.value.length).text }}*
            }
          </p>
        </div>
        <div class="flex flex-wrap gap-4 my-4">
          <!-- CHECKBOXES -->
          <div>
            <label class="flex items-center"
              ><input
                type="checkbox"
                formControlName="includeLetters"
                class="rounded border-gray-600 bg-zinc-700 text-blue-500 mr-2 focus:ring-blue-500 focus:ring-offset-zinc-800"
              />Letters</label
            >
          </div>
          <div>
            <label class="flex items-center"
              ><input
                type="checkbox"
                formControlName="includeNumbers"
                class="rounded border-gray-600 bg-zinc-700 text-blue-500 mr-2 focus:ring-blue-500 focus:ring-offset-zinc-800"
              />Numbers</label
            >
          </div>
          <div>
            <label class="flex items-center"
              ><input
                type="checkbox"
                formControlName="includeSymbols"
                class="rounded border-gray-600 bg-zinc-700 text-blue-500 mr-2 focus:ring-blue-500 focus:ring-offset-zinc-800"
              />Special Characters</label
            >
          </div>
        </div>
        <p class="text-sm my-2">*Based on the length of the password</p>
        <div>
          <!-- SUBMIT -->
          <button
            (click)="generatePassword()"
            class="active:top-1 cursor-pointer w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-colors"
          >
            Generate Password
          </button>
        </div>
        @if (generated) {
          <div class="mt-4">
            <label class="block text-sm font-medium text-gray-300 mb-2">Generated Password:</label>
            <div class="flex">
              <div class="flex-1 bg-zinc-700 text-white rounded-l-md border border-gray-600 p-2">
                {{ generatedPassword }}
              </div>
              <button
                class="cursor-pointer bg-zinc-700 px-4 rounded-r-md border-t border-r border-b border-gray-600 text-gray-300 hover:bg-zinc-600 transition-colors"
                (click)="copyPassword()"
              >
                Copy
              </button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
