/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-blue-marian: #1e3a8a;
  --color-black-eerie: #18181b;
  --color-black-charcoal: #374151;
}
