/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-blue-marian: #1E3A8A;
  --color-black-eerie: #18181B;
  --color-black-charcoal: #374151;
}
